body {
  font-family: Arial;
  background: #f4f6f8;
}

.app {
  max-width: 500px;
  margin: 40px auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.task {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
